<nav class="navbar">
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 ">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
       </a>
         <a class="navbar-logo" href="/">
      <img src="/img/logo.png" >
        </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/index" class="nav-link text-dark" aria-current="page">Inicio</a></li>
        <li class="nav-item"><a href="/nosotros" class="nav-link text-dark">Nosotros</a></li>
        <li class="nav-item"><a href="/vinos" class="nav-link text-dark">Vinos</a></li>
        <li class="nav-item"><a href="/compras" class="nav-link text-dark">Compras</a></li>
      </ul>
    </header>
  </div>
</nav>