    <hr>
    <h1>Bodega Cabrini desde 1918.</h1>
    <h2>De Mendoza, Argentina, al mundo.</h2>
    <div class="parrafoinit">
        <p>Nuestra bodega familiar fue fundada por Don Leandro Cabrini, un inmigrante italiano, en 1918, en Mendoza, uno de los lugares más bellos del mundo con<br> el terruño perfecto para elaborar vinos excepcionales. Descubrí los vinos que nuestra familia elabora desde hace más de 100 años.</p>
    </div>
    <hr>
    <img class="imagenuno" src="/img/bodegacabrini.jpg" alt="">


<div class="row featurette">
    <div class="col-md-7">
            <h3 class="featurette-heading fw-normal lh-1">Nuestros Vinos <span class="text-muted">Cabrini Wines</span></h2>
            <p class="lead">¿Querés saber por qué nuestros vinos son tan especiales? Explora para descubrir el secreto detrás 100 años de tradición vitivinícola y saber más sobre nuestros vinos.</p>
    </div>
        <div class="col-md-5">
            <img class="wines" src="/img/imagen1ini.jpg" alt="">
        </div>
</div>

    <hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h4 class="featurette-heading fw-normal lh-1">Donde Comprar<span class="text-muted"> Cabrini Wines</span></h2>
        <p class="lead">Disfrutá de nuestros vinos donde quieras y como quieras. Además de en nuestras tiendas online, podrás encontrar los vinos Cabrini en restaurantes y tiendas de todo el mundo.</p>
    </div>
        <div class="col-md-5 order-md-1">
            <img src="/img/imagen2ini.jpg" alt="">
        </div>
     </div>

</div>




            
