<link rel="stylesheet" href="/css/nosotros.css">

<body>
    

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Familia Cabrini</h1>
        <p class="lead text-muted">Nos enorgullece nuestra historia, por eso nos encanta contarla. 5 generaciones compartiendo la cultura del vino y el trabajo en equipo.</p>
        <p>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 ">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/img/1eragen.jpg" alt="">
            <div class="card-body">
              <h2>1918 | 1ra Generación</h2>  
                <p class="card-text">Don Leandro Cabrini, un inmigrante italiano, planta nuestras primeras 6 hectáreas de vides de Malbec en Luján de Cuyo, Mendoza, y creando nuestra bodega en 1920.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/img/2dagen.jpg" alt="">
            <div class="card-body">
              <h2>1939 | 2da Generación</h2> 
                <p class="card-text">Luis y Guillermo, hijos de Don Leandro, se hacen cargo de las operaciones. Como Guillermo era sacerdote salesiano, deciden hacer la primera cosecha de vino de misa.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/img/3eragen.jpg" alt="">
            <div class="card-body">
              <h2>1955 | 3ª Generación</h2> 
                <p class="card-text">Eliseo, Guillermo, Jorge y Juan continúan con la tradición familiar y presentan nuevos vinos: Refosco, Lambrusco, Raboso, Pinot Noir, Semillón, Gran Solera y más.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/img/4tagen.jpg" alt="">
            <div class="card-body">
              <h2>1984 | 4ta Generación</h2> 
                <p class="card-text">Mauricio, Hugo y Fernando, hijos de Eliseo, se hacen cargo de la bodega familiar y nuestros vinos llegan por primera vez a nuevos mercados fuera de Argentina.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/img/5tagen.jpg" alt="">
            <div class="card-body">
              <h2>2007 | 5ta Generación</h2> 
               <p class="card-text">Victoria, Danilo y Leandro, quinta generación de la familia, comienzan a trabajar en la bodega. Victoria es actualmente nuestra enóloga.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="/img/actualidad.jpg" alt="">
            <div class="card-body">
              <h2>Actualidad</h2>
                <div class="actualidad">
                 <p class="card-text">Danilo y Leandro emigraron al Reino Unido y actualmente comparten los vinos Cabrini en todo el mundo, junto con la esposa de Leandro, Camilla.</p>
                </div>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>

        
      </div>
    </div>
  </div>

    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

      
  </body>
