<link rel="stylesheet" href="/css/vinos.css">
<body>
    
<h1>Nuestros Vinos</h1>

<main class="container">
  <div class="p-4 p-md-6 mb-4 rounded text-bg-dark">
    <div class="col-md-8 px-2">
      <img src="/img/inivinos.jpg" alt="">
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-3 d-flex flex-column position-static">
          
            <h3 class="mb-0">Malbec Classic</h3>
            <img src="/img/malbecla.png" alt="">
            <h4>Descripción</h4>
            <p class="card-text mb-auto">Varietal 100% Malbec.<br> 
            Violetas y ciruela madura en nariz, afrutado y sedoso en el paladar, con un final duradero.
            La fermentación se realiza en nuestras cubas de cemento utilizando únicamente levaduras autóctonas. El Cabrini Classic Malbec se elabora sin filtrar y con una ligera filtración para preservar su frescura y carácter. Tras 6 meses de evolución en cubas de cemento, el vino se embotella y se guarda en nuestras bodegas durante al menos 6 meses antes de salir al mercado.</p>
            <div class="boton">
              <a class="btn btn-outline-secondary" href="/compras">Comprarlo Ahora</a>
            </div>
          </div>
        <div class="col-auto d-none d-lg-block">
          
      </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          
          <h3 class="mb-0">Cabernet Sauvignon</h3>
          <img src="/img/cabernetcla.png" alt="">
           <h4>Descripción</h4>
          <p class="mb-auto">Varietal 100% Cabernet Sauvignon.<br> 
            Sabores de fruta oscura de grosella negra, cereza negra y notas vegetales. Pimientos verdes y pimienta picante.
            La fermentación se realiza en nuestras cubas de cemento utilizando únicamente levaduras autóctonas. El Cabernet Sauvignon Clásico de Cabrini se elabora sin filtrar y con una ligera filtración para preservar su frescura y carácter. Tras 6 meses de evolución en cubas de cemento, el vino se embotella y se conserva en nuestras bodegas durante al menos 6 meses antes de salir al mercado.</p>
            <div class="boton">
              <a class="btn btn-outline-secondary" href="/compras">Comprarlo Ahora</a>
            </div>
        </div>
        <div class="col-auto d-none d-lg-block">

        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          
          <h3 class="mb-0">Leandro Cabrini Malbec</h3>
          <img src="img/leandrocab.png" alt="">
          <h4>Descripción</h4>
          <p class="card-text mb-auto">Varietal 100% Malbec.<br>
            En nariz, violetas, frutos rojos y ciruela madura, afrutado y sedoso en el paladar, con un final duradero.
            La fermentación se realiza en nuestras cubas de cemento utilizando únicamente levaduras autóctonas. Se elabora sin filtrar y con una ligera filtración para preservar su frescura y carácter. Tras 6 meses de evolución en cubas de cemento, el vino se embotella y se conserva en nuestras bodegas durante al menos 12 meses antes de salir al mercado.</p>
            <div class="boton">
              <a class="btn btn-outline-secondary" href="/compras">Comprarlo Ahora</a>
            </div>
        </div>
        <div class="col-auto d-none d-lg-block">
          
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          
          <h3 class="mb-0">Leandro Cabrini Cabernet Sauvignon</h3>
          <img src="img/maleandro.png" alt="">
          <h4>Descripción</h4>
          <p class="mb-auto">Varietal 100% Cabernet Sauvignon.<br>
            Sabores equilibrados de fruta oscura de grosella negra, cereza negra y notas vegetales. Pimientos verdes y especias de pimienta.
            La fermentación se realiza en nuestras cubas de cemento utilizando únicamente levaduras autóctonas. Se elabora sin filtrar y con una ligera filtración para preservar su frescura y carácter. Tras 6 meses de evolución en cubas de cemento, el vino se embotella y se conserva en nuestras bodegas durante al menos 12 meses antes de salir al mercado.</p>
            <div class="boton">
              <a class="btn btn-outline-secondary" href="/compras">Comprarlo Ahora</a>
            </div>
        </div>
        <div class="col-auto d-none d-lg-block">
          
        </div>
      </div>
    </div>
  </div>
   <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          
          <h3 class="mb-0">Vino Licoroso de Misa</h3>
          <img src="img/licoroso.png" alt="">
          <h4>Descripción</h4>
          <p class="card-text mb-auto">Varietal: Un blend de Malbec, Tempranillo, Bonarda y Lambrusco. <br>
            Color rojo claro, aromas de caramelo, nueces en miel, pasas, chocolate y especias de pastelería, con sabores de frutos rojos secos y nueces tostadas.
            Tras la molienda, las pieles de las uvas permanecen en contacto con el jugo de uva durante 6 horas, lo que le proporciona un color rosado oscuro. Antes de que finalice la fermentación, la misma se interrumpe con aguardiente de uva, dejando un poco de azúcar residual en el vino. Después de esto, nuestro Vino Licoroso de Misa Cabrini es añejado en barricas grandes de roble viejo durante al menos 12 meses. A continuación, los vinos se embotellan y se guardan durante otros 12 meses antes de salir de la bodega.</p>
            <div class="boton">
              <a class="btn btn-outline-secondary" href="/compras">Comprarlo Ahora</a>
            </div>
        </div>
        <div class="col-auto d-none d-lg-block">
        </div>
      </div>
    </div>
  </div>

  


    
  </body>